git+https://github.com/Pycord-Development/pycord
spotipy>=2.11.0
git+https://github.com/Shewiiii/librespot-python
requests
python-dotenv
yt-dlp[default] --pre
bs4
imageio
PyNaCl
mutagen
typing-extensions
youtube-transcript-api==1.0.3
google-genai
pytz
pinecone[grpc]
httpx[http2]
aiofiles
pycryptodome
aiohttp-client-cache[all]
legacy-cgi
googlesearch-python
openai
# Pinecone things
grpcio
protoc-gen-openapiv2
